@keyframes changeBackgroundColor {
    0% {
      background-color: #ffffff;
    }
    25% {
        background-color: #ffa52f;
    }
    50% {
      background-color: #47ff6c;
    }
    75% {
        background-color: #4af0ff;
    }
    90% {
      background-color: #ff55a7;
    }

    100% {
        background-color: bisque;
    }
}

@keyframes changeBackgroundColor2 {
    0% {
      background-color: #ffffff;
    }
    25% {
        background-color: #ffc67b;
    }
    50% {
      background-color: #91fca7;
    }
    75% {
        background-color: #a0f7ff;
    }
    90% {
      background-color: #ff94c8;
    }

    100% {
        background-color: bisque;
    }
}

/*barra de cima*/
.top {
    overflow: hidden;
    position: fixed; top: 0; left: 0; bottom: 0;
    width: 100vw;
    animation: changeBackgroundColor 10s infinite;
    display: flex;
    font-size:large;
    font-family: 'Courier New', Courier, monospace;
    color: black;
    position: fixed;
    padding-left: 420px;
    padding-top: 10px;
}

/*estilo dos links*/
.top a{
    display: flex;
    color: black;
    text-align: center;
    padding: 25px;
    justify-content: center;
    
}

.top a:hover {
    color: black;
    font-size: 19px;
    text-decoration: underline 2px white;
}

.h1{
    color: black;
    text-align: left;
    font-size: 90px;
    display: flex;
    justify-content: center;
}

.button {
    width: 11.5%;
    height: 250px;
    text-align: center;
    display: flex ;
    justify-content: center;
    align-items: center;
    font-size: 16px;
    border: 3px solid;
    border-radius: 5%;
    float: left;
    margin-right: 5px;
    
}

.button:hover {
    border: none;
    box-shadow: 0 15px 18px 0 rgba(0,0,0,0.24), 0 20px 50px 0 rgba(0,0,0,0.19);
}

.div2{
    display: flex;
    justify-content: center;
    flex-direction: column;
    width:100vw;
    height: 100vh;
    background-color: azure;
    position: fixed; top: 0; left: 0; bottom: 0;
    margin-top: 5%;
}

.foto {
    width: 50vw;
    height: 90vh;
    border-top-left-radius: 8%;
    border-bottom-left-radius: 8%;
    color: antiquewhite;
    
}

.divG{
    position: fixed;left: 0;
    width: 100vw;
    height: 90vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color:azure;
    margin-top: 5%;
}

.h2{
    text-align: center;
    color: black;
}

.divM{
    max-width: 30%;
    color: black;
    display: flex;
    justify-content: right;
    padding-left: 10%;
}

.divF{
    max-width: 49%;
    display: flex;
    justify-content: right;
    color: #ff55a7;
    padding-left: 20%;
}

.a:link {
    color: black;
    background-color: transparent;
    text-decoration: none;
}

.divButton{
    display: flex;
    flex-direction: row;
    width: 120vw;
    padding-left: 8.5%;
    margin-top: 5px;
    margin-bottom: 20px;
}

.aa:link {
    font-size: larger;
    text-decoration: none;
    font-family: 'Courier New', Courier, monospace;
}

.aa{
    color: black;
    font-weight: bold;
}