.cabecalho{
    font-family:Arial, Helvetica, sans-serif;
    background-color:brown;
    text-align: center;
    font-size:larger;
}

.corpo{
   background-color: rgb(76, 20, 129);
   background-repeat: no-repeat;
   text-align:center;
   font-size:x-large;
   font-family: Georgia, 'Times New Roman', Times, serif;
   color: rgb(105, 10, 107);
   font-style: oblique;
}

.rodape{
    font-family: Arial, Helvetica, sans-serif;
    background-color: chocolate;
    text-align: center;
    font-size:larger;
}   

.fundo{
    background-color:red;
    stroke: red;

}

.titulo{
    font-family:unset;
    text-align:center;
    font-size:xx-large;
    color: rgb(188, 118, 253);
    font-style:oblique;
}

.titulo2{
    text-align: center;
    font-family:unset;
    font-size:medium;
    font-style: normal;
    color: rgb(204, 164, 240);
}

.titulo3{
    text-align: center;
    font-family:Georgia, 'Times New Roman', Times, serif;
    font-size:medium;
    font-style: normal;
}

.borda{
    background-color: white;
    border: 0.3cm;
    margin: 0.3cm;
    padding:5px ;
}

.font{
    font-family: Georgia, 'Times New Roman', Times, serif;
}

.port{
    background: rgb(2,0,36);
    background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(112,9,121,1) 58%);
    color: white;
    border: 3px solid rgb(105, 10, 107);
    margin: 5px;
    padding: 3px;
    text-align:center;
    font-size:medium;
    font-family:Georgia, 'Times New Roman', Times, serif;
    width: 600px;
    
}

* {
    color: white;
}

a:link {
    color: rgb(151, 55, 231);
    background-color: transparent;
    text-decoration: none;
}
  
a:visited {
    color: rgb(152, 31, 150);
    background-color: transparent;
    text-decoration: none;
}
  
a:hover {
    color: rgb(27, 107, 147);
    background-color: transparent;
    text-decoration: underline;
}
  
a:active {
    color: rgb(188, 118, 253);
    background-color: transparent;
    text-decoration: underline;
}