@-webkit-keyframes slide {
    0% {
      transform: scale(0, 0) translateX(0);
    }
    15%, 70% {
      transform: scale(1, 1) translateX(0);
    }
    90% {
      transform: scale(1, 1) translateX(100%);
    }
    100% {
      transform: scale(1, 1) translateX(100%);
    }
}
@-webkit-keyframes size {
    0%, 15% {
      transform: scale(1, 0);
    }
    25%, 100% {
      transform: scale(1, 1);
    }
}

@-webkit-keyframes zoom {
    0%, 25% {
      transform: scale(0, 0);
    }
    35%, 100% {
      transform: scale(1, 1);
    }
}

.mov {
    transform: scale(0, 0) translateX(0);
    -webkit-animation-name: size;
            animation-name: size;
    -webkit-animation-timing-function: ease;
            animation-timing-function: ease;
    -webkit-animation-duration: 4s;
            animation-duration: 4s;
    -webkit-animation-iteration-count: infinite;
            animation-iteration-count: infinite;
    
}

.mov2 {
    transform: scale(0, 0) translateX(0);
    -webkit-animation-name: size;
            animation-name: size;
    -webkit-animation-timing-function: ease;
            animation-timing-function: ease;
    -webkit-animation-duration: 5s;
            animation-duration: 5s;
    -webkit-animation-iteration-count: infinite;
            animation-iteration-count: infinite;
    
}
  
.corpo{
    background: rgb(215,53,125);
    background: radial-gradient(circle, rgba(215,53,125,1) 0%, rgba(111,0,179,1) 100%);
}
.h1{
    color: azure;
    text-align: center;
    font-size: 100px;
    display: flex;
    justify-content: center;
    margin-top: auto;
    margin-bottom: auto;
}

.button {
    color: white;
    padding: 16px 32px;
    text-align: center;
    display: flex ;
    font-size: 16px;
    margin: 4px 2px;
    transition-duration: 0.4s;
    cursor: pointer;
    border-radius: 8px;
    animation-name: size;
    animation-timing-function: ease;
    animation-duration: 4s;
    animation-iteration-count: infinite;

}

.buttonPrj {
    color: white;
    padding: 16px 32px;
    text-align: center;
    display: flex ;
    font-size: 16px;
    margin: 4px 2px;
    transition-duration: 0.4s;
    cursor: pointer;
    border-radius: 8px;
    animation-name: size;
    animation-timing-function: ease;
    animation-duration: 4s;
    animation-iteration-count: infinite;
}
  
.button1 {
    background-color: rgb(213, 126, 245); 
    color: black; 
    border: 3px solid #8151f0;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
    
}
  
.button1:hover {
    background-color: #8151f0;
    color: white;
}

.button6 {
    background-color: rgb(213, 126, 245); 
    color: black; 
    border: 3px solid #8151f0;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
    padding: auto;
    margin-top: auto;
    width: 130px;
    height: 60px;
    border-radius: 8px;
    font-size: 16px;
}
  
.button6:hover {
    background-color: #8151f0;
    color: white;
}


.div1{
    display: flex;
    flex-direction:row;
    justify-content: center;
    
}

.div2{
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 30px;
}

.table1{
    
    display: flex;
    flex-direction:row;
    justify-content: left;
    align-content: flex-end;
    text-align: center;
    border: 4px solid #8151f0;
    
    background-color: rgb(213, 126, 245);
    border-radius: 8px;
}

.table2{
    width: 150px;
    height: 70px;
    display: flex;
    flex-direction:row;
    justify-content: left;
    align-content: flex-end;
    text-align: center;
    border: 4px solid #8151f0;
    padding: 10px;
    background-color: rgb(213, 126, 245);
    border-radius: 8px;
}

.foto {
    width: 300px;
    height: 400px;
    border-radius: 20%;
    margin: 3rem 0 0 0;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 10px;
    margin-bottom: 15px;
}

.foto2 {
    width: 300px;
    height: 400px;
    border-radius: 10%;
    margin: 3rem 0 0 0;
    margin-top: 10px;
    margin-bottom: 15px;
    padding: 10px;
}

.divG{
    display: flex;
    align-items: center;
    justify-content: center;
    
}

.h2{
    text-align: center;
}

.divM{
    max-width: 30%;
    align-self: flex-start;
    color: azure;
    padding-right: 50px;
    
}

    
.h3{
    color: azure;
    text-align: center;
    font-size: 20px;
    display: flex;
    justify-content: center;
}

.p{
    color: azure;
    text-align: left;
    font-size: 20px;
    display: flex;
    justify-content: left;
    text-decoration:overline;
    margin-bottom: auto;
}

a:link {
    color: rgb(151, 55, 231);
    background-color: transparent;
    text-decoration: none;
}
  
a:visited {
    color: rgb(152, 31, 150);
    background-color: transparent;
    text-decoration: none;
}
  
a:hover {
    color: rgb(27, 107, 147);
    background-color: transparent;
    text-decoration: underline;
}
  
a:active {
    color: rgb(188, 118, 253);
    background-color: transparent;
    text-decoration: underline;
}

.divAMG{
    display: flex;
    align-items: flex-start;
    background-color: rgb(188, 118, 253);
    border: 5px solid rgb(152, 31, 150);
    color: azure;
    text-align: center;
    justify-content: center;
}

.divCont{
    
    background-color: rgb(188, 118, 253);
    color: azure;
    
}

.divButton{
    display: flex;
    flex-direction: column;
    padding: 20px;
}

